<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.home.mapper.CartOptionMapper">

    <insert id="insertData" parameterType="com.spring.home.dto.CartOptionDTO">
        INSERT INTO cart_option (
            c_code,
            id,
            f_code,
            co_select,
            co_text,
            co_count,
            co_price
        ) VALUES (
            #{c_code},
            #{id},
            #{f_code},
            #{co_select},
            #{co_text},
            #{co_count},
            #{co_price}
        )
    </insert>

    <select id="getByCartCode" parameterType="string" resultType="com.spring.home.dto.CartOptionDTO">
        SELECT
            c_code,
            id,
            f_code,
            co_select,
            co_text,
            co_count,
            co_price
        FROM cart_option
        WHERE c_code = #{c_code}
    </select>

    <update id="updateData" parameterType="com.spring.home.dto.CartOptionDTO">
        UPDATE cart_option
        SET
            co_select = #{co_select},
            co_text = #{co_text},
            co_count = #{co_count},
            co_price = #{co_price}
        WHERE c_code = #{c_code}
    </update>

    <delete id="deleteData" parameterType="string">
        DELETE FROM cart_option
        WHERE c_code = #{c_code}
    </delete>

</mapper>
