<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.home.mapper.CompanyMapper">

<!-- 입력 -->
<insert id="insertData" parameterType="com.spring.home.dto.CompanyDTO">
	insert into company 
	(c_id,c_name,c_kind,c_tel,c_addr,c_boss)
	values (#{c_id}, #{c_name}, #{c_kind}, #{c_tel}, #{c_addr}, #{c_boss})
</insert>

<!-- 수정 -->
<update id="updateData" parameterType="com.spring.home.dto.CompanyDTO">
	update company 
	set c_tel=#{c_tel}, c_addr=#{c_addr}, c_info=#{c_info}, c_boss=#{c_boss}
	where c_id=#{c_id}
</update>

<!-- 삭제 -->
<delete id="deleteData" parameterType="String">
	delete from company where c_id=#{c_id}
</delete>

<!-- 전체 select -->
<select id="getLists" parameterType="hashMap" resultType="com.spring.home.dto.CompanyDTO">
	select * from (
    select rownum rnum, data.* from (
    select c_id,c_name,c_kind,c_tel,c_addr,c_info,c_boss
    from company
    where ${searchKey} like '%' || #{searchValue} || '%'
    order by c_id desc
    ) data)
    <![CDATA[
    where rnum>=#{start} and rnum<=#{end}
    ]]>
</select>

<!-- 1개 select -->
<select id="getReadData" parameterType="String" resultType="com.spring.home.dto.CompanyDTO">
	select * from company where c_id=#{c_id}
</select>

<select id="getReadDataList" parameterType="String" resultType="com.spring.home.dto.CompanyDTO">
	select * from company where c_id=#{c_id}
</select>

<insert id="insertDataDashboard" parameterType="com.spring.home.dto.CompanyDTO">
	insert into company 
	(c_id,c_name,c_kind,c_tel,c_addr,c_boss)
	values (#{c_id}, #{c_name}, #{c_kind}, #{c_tel}, #{c_addr}, #{c_boss})
</insert>

<update id="updateCompanyOne" parameterType="com.spring.home.dto.CompanyDTO">
	UPDATE company
	<set>
	        <if test="c_tel != null and c_tel != ''">c_tel = #{c_tel},</if>
	        <if test="c_addr != null and c_addr != ''">c_addr = #{c_addr},</if>
	        <if test="c_info != null and c_info != ''">c_info = #{c_info},</if>
	        <if test="c_boss != null and c_boss != ''">c_boss = #{c_boss}</if>
	</set>
	<where>
	        <if test="c_id != null">AND c_id = #{c_id}</if>
	        <if test="c_name != null and c_name != ''">AND c_name = #{c_name}</if>
	        <if test="c_kind != null and c_kind != ''">AND c_kind = #{c_kind}</if>
	</where>
</update>

<update id="updateCompanyDev"
    parameterType="com.spring.home.dto.CompanyDTO">

    UPDATE company

    <set>

        <if test="c_tel != null and c_tel != ''">
            c_tel = #{c_tel},
        </if>

        <if test="c_addr != null and c_addr != ''">
            c_addr = #{c_addr},
        </if>

        <if test="c_info != null and c_info != ''">
            c_info = #{c_info},
        </if>

        <if test="c_boss != null and c_boss != ''">
            c_boss = #{c_boss},
        </if>

        <if test="c_kind != null and c_kind != ''">
            c_kind = #{c_kind}
        </if>

    </set>

    WHERE c_id = #{c_id}

</update>

<delete id="deleteCompanyOne" parameterType="com.spring.home.dto.CompanyDTO">
	DELETE company
	WHERE  c_id = #{c_id}
       AND c_name = #{c_name}
       AND c_kind = #{c_kind} 
</delete>
</mapper>
