<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.home.mapper.CouponMapper">

<!-- 입력 -->
<insert id="insertData" parameterType="com.spring.home.dto.CouponDTO">
	insert into coupon
	(coupon_code, discount, coupon_end, coupon_max, coupon_info, id,coupon_type, coupon_catagory)
	values 
	( #{coupon_code}, #{discount}, #{coupon_end}, #{coupon_max}, #{coupon_info}, #{id},#{coupon_type}, #{coupon_catagory})	            
</insert>

<!-- SELECT DEV ALL -->
<select id="getListsDev" resultType="com.spring.home.dto.CouponDTO">
    SELECT
        coupon_code,
        discount,
        coupon_end,
        coupon_max,
        coupon_info,
        coupon_used,
        id,
        coupon_type,
        coupon_catagory
    FROM coupon
    WHERE id = coupon_code
    
</select>

<!-- SELECT ALL -->
<select id="getLists" parameterType="String" resultType="com.spring.home.dto.CouponDTO">
    SELECT
        coupon_code,
        discount,
        coupon_end,
        coupon_max,
        coupon_info,
        coupon_used,
        coupon_type,
        coupon_catagory,
        id
    FROM coupon
    WHERE id = #{id}
    AND coupon_end >= SYSDATE
</select>

<select id="getArticleList"
        parameterType="hashMap"
        resultType="com.spring.home.dto.CouponDTO">

    SELECT
        coupon_code,
        discount,
        coupon_end,
        coupon_max,
        coupon_info,
        coupon_used,
        coupon_type,
        coupon_catagory,
        id
    FROM coupon

    <where>

        (
            (
                coupon_type = 'company'
                AND coupon_catagory = #{c_id}
            )

            OR

            (
                coupon_type = 'catagory'
                AND coupon_catagory = #{catagory}
            )
            
            OR
            
            (
                coupon_type = 'all'
            )
        )
        
        
		AND id = coupon_code
        AND coupon_end >= SYSDATE
		AND NVL(coupon_used, 'N') = 'N'
    </where>

</select>

<!-- SELECT ONE -->
<select id="getReadData" parameterType="hashmap"
        resultType="com.spring.home.dto.CouponDTO">
    SELECT
        coupon_code,
        discount,
        coupon_end,
        coupon_max,
        coupon_info,
        coupon_used,
        coupon_type,
        coupon_catagory,
        id
    FROM coupon
    WHERE coupon_code = #{coupon_code}
    AND id = #{id}
    AND coupon_end >= SYSDATE
</select>

<select id="checkData" parameterType="hashmap"
        resultType="int">
    SELECT COUNT(*)
	FROM coupon
    WHERE coupon_code = #{coupon_code}
    AND id = #{id}    
</select>


<!-- UPDATE -->
<update id="updateData" parameterType="com.spring.home.dto.CouponDTO">
    UPDATE coupon
    SET
        discount    = #{discount},
        coupon_end  = #{coupon_end},
        coupon_max  = #{coupon_max},
        coupon_info = #{coupon_info},
        id          = #{id}
    WHERE coupon_code = #{coupon_code}
</update>

<!-- DELETE -->
<update id="deleteData" parameterType="hashMap">
    UPDATE coupon
    SET 
    	coupon_used = 'Y'
    WHERE coupon_code = #{coupon_code}
    AND id = #{id}
</update>

<select id="getValidUserCoupon" resultType="com.spring.home.dto.CouponDTO">
	SELECT
        coupon_code,
        discount,
        coupon_end,
        coupon_max,
        coupon_info,
        coupon_used,
        coupon_type,
        coupon_catagory,
        id
    FROM coupon
    WHERE id = #{id}
      AND coupon_code = #{coupon_code}
      AND coupon_end >= SYSDATE
      AND NVL(coupon_used, 'N') = 'N'
</select>

<update id="useCoupon">
    UPDATE coupon
    SET coupon_used = 'Y'
    WHERE id = #{id}
      AND coupon_code = #{coupon_code}
      AND coupon_end >= SYSDATE
      AND NVL(coupon_used, 'N') = 'N'
</update>


<!-- 5월 26일 안예린 추가함- 관리자 전용 발급(사용자 개인 적용)-->
<select id="getUserCouponListDev" parameterType="String" resultType="com.spring.home.dto.CouponDTO">

	SELECT 
	coupon_code,
	discount,
	coupon_end,
	coupon_max,
	coupon_info,
	coupon_used,
	coupon_type,	
	coupon_catagory,
	id
	
	from coupon
	
	where id = #{id}
	
	and coupon_end >=sysdate
	
	and nvl(coupon_used,'N') = 'N'
	
	

</select>

</mapper>

