<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.home.mapper.FreeBoardCommentMapper">

    <insert id="insertComment"
            parameterType="com.spring.home.dto.FreeBoardCommentDTO">
        INSERT INTO freeboard_comment (
            commentid,
            boardid,
            userid,
            username,
            content,
            parentid,
            hidden,
            createdat
        ) VALUES (
            seq_freeboard_comment_id.nextval,
            #{boardId},
            #{userId},
            #{userName},
            #{content},
            #{parentId, jdbcType=NUMERIC},
            0,
            sysdate
        )
    </insert>

    <!--
        탈퇴 회원 표시 정책: DB 트리거(trg_users_joined_freeboard_cmt) 가
        users.joined='N' 변경 시점에 freeboard_comment.userName 을 '탈퇴한 회원'
        으로 직접 UPDATE 한다. SELECT 쿼리는 freeboard_comment 단독 조회로 단순화.
    -->
    <select id="getCommentsByBoardId"
            parameterType="map"
            resultType="com.spring.home.dto.FreeBoardCommentDTO">
        SELECT
            commentid AS commentId,
            boardid   AS boardId,
            userid    AS userId,
            username  AS userName,
            content,
            parentid  AS parentId,
            hidden,
            createdat AS createdAt,
            updatedat AS updatedAt
        FROM freeboard_comment
        WHERE boardid = #{boardId}
        <if test="type != 'admin'">
            AND hidden = 0
        </if>
        ORDER BY createdat ASC
    </select>

    <select id="getCommentById"
            resultType="com.spring.home.dto.FreeBoardCommentDTO">
        SELECT
            commentid AS commentId,
            boardid   AS boardId,
            userid    AS userId,
            username  AS userName,
            content,
            parentid  AS parentId,
            hidden,
            createdat AS createdAt,
            updatedat AS updatedAt
        FROM freeboard_comment
        WHERE commentid = #{commentId}
    </select>

    <delete id="deleteComment">
        DELETE FROM freeboard_comment
        WHERE commentid = #{commentId}
    </delete>

    <update id="updateComment"
            parameterType="com.spring.home.dto.FreeBoardCommentDTO">
        UPDATE freeboard_comment
        SET
            content = #{content},
            updatedat = sysdate
        WHERE commentid = #{commentId}
    </update>

    <update id="updateCommentHiddenStatus" parameterType="map">
        UPDATE freeboard_comment
        SET hidden = #{hidden}
        WHERE commentid = #{commentId}
    </update>

    <update id="increaseCommentCount">
        UPDATE freeboard
        SET commentcount = commentcount + 1
        WHERE boardid = #{boardId}
    </update>

    <update id="decreaseCommentCount">
        UPDATE freeboard
        SET commentcount = commentcount - 1
        WHERE boardid = #{boardId}
    </update>

    <delete id="deleteByBoardId" parameterType="long">
        DELETE FROM freeboard_comment
        WHERE boardid = #{boardId}
    </delete>

    <delete id="deleteByParentId" parameterType="long">
        DELETE FROM freeboard_comment
        WHERE parentid = #{parentId}
    </delete>

</mapper>