<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.home.mapper.FurnitureMapper">

<!-- 입력 -->
<insert id="insertData" parameterType="com.spring.home.dto.FurnitureDTO">
	insert into furniture
	            (f_code,
	             c_id,
	             c_kind,
	             c_name,
	             f_name,
	             f_price,
	             f_dprice,
	             f_createddate,
	             f_catagory1,
	             f_catagory2,
	             f_catagory3,
	             f_catagory4,
	             f_catagory5,
	             f_discount,
	             f_point,
	             f_count,
	             f_viewcount,
	             f_deliveryPrice)
	values      ( #{f_code},
	              #{c_id},
	              #{c_kind},
	              #{c_name},
	              #{f_name},
	              #{f_price},
	              #{f_dprice},
	              sysdate,
	              #{f_catagory1},
	              #{f_catagory2},
	              #{f_catagory3},
	              #{f_catagory4},
	              #{f_catagory5},
	              #{f_discount},
	              #{f_point},
	              #{f_count},
	              0,
	              #{f_deliveryPrice})
</insert>

<!-- f_code 중복 확인 -->
<select id="countByFCode" parameterType="String" resultType="int">
	select Count(*)
	from   furniture
	where  f_code = #{f_code} 
</select>

<!-- 수정 -->
<update id="updateData" parameterType="com.spring.home.dto.FurnitureDTO">
	update furniture
	set    f_name = #{f_name},
	       f_price = #{f_price},
	       f_dprice = #{f_dprice},
	       f_catagory1 = #{f_catagory1},
	       f_catagory2 = #{f_catagory2},
	       f_catagory3 = #{f_catagory3},
	       f_catagory4 = #{f_catagory4},
	       f_catagory5 = #{f_catagory5},
	       f_discount = #{f_discount},
	       f_point = #{f_point},
	       f_count = #{f_count},
	       f_deliveryPrice = #{f_deliveryPrice}
	where  f_code = #{f_code} 
</update>

<!-- 삭제 -->
<delete id="deleteData" parameterType="String">
	delete furniture
	where  f_code = #{f_code} 
</delete>

<!-- 전체 select --> <!-- 0527 모하영 if 추가 -->
<select id="getLists" parameterType="hashMap" resultType="com.spring.home.dto.FurnitureDTO">
	select *
	from   (
              select rownum rnum,
                     data.*
              from   (
                             select   f_code,
                                      c_id,
                                      c_kind,
                                      c_name,
                                      f_name,
                                      f_price,
                                      f_dprice,
                                      f_createddate,
                                      f_catagory1,
                                      f_catagory2,
                                      f_catagory3,
                                      f_catagory4,
                                      f_catagory5,
                                      f_discount,
                                      f_point,
                                      f_count,
                                      f_viewcount,
                                      f_deliveryPrice,
                                      r_count,
                                      s_count
                             from     furniture
                             left join (select f_code as furniturecode, count(*) as r_count
                                		from f_review
                                		group by f_code) rv on rv.furniturecode = furniture.f_code
                              left join (select f_code as furniturecode, COALESCE(sum(f_count),0) as s_count
                                		from cart
                                		where CART.f_status = 'Y'
                                		group by f_code) sales on sales.furniturecode = furniture.f_code
                             where    ${searchKey} like '%'
                                               || #{searchValue}
                                               || '%'
                             <if test="f_catagory1 != null and f_catagory1 != ''">
							    and f_catagory1 = #{f_catagory1}
							</if>
							
							<if test="f_catagory2 != null and f_catagory2 != ''">
							    and f_catagory2 = #{f_catagory2}
							</if>
							
							<if test="f_catagory3 != null and f_catagory3 != ''">
							    and f_catagory3 = #{f_catagory3}
							</if>
							
							<if test="f_catagory4 != null and f_catagory4 != ''">
							    and f_catagory4 = #{f_catagory4}
							</if>
							
							<if test="f_catagory5 != null and f_catagory5 != ''">
							    and f_catagory5 = #{f_catagory5}
							</if>

                             <choose>
	                             <when test="sort == 'old'">
		                             order by f_createddate asc
	                             </when>
	                             <when test="sort == 'priceHigh'">
		                             order by f_dprice desc
	                             </when>
	                             <when test="sort == 'priceLow'">
		                             order by f_dprice asc
	                             </when>
	                             <when test="sort == 'viewHigh'">
		                             order by f_viewcount desc
	                             </when>
	                             <when test="sort == 'viewLow'">
		                             order by f_viewcount asc
	                             </when>
	                             <when test="sort == 'discountHigh'">
	                             	order by f_discount desc, f_createddate desc
	                             </when>
	                             <when test="sort == 'reviewHigh'">
	                             	order by NVL(r_count, 0) desc, f_createddate desc
	                             </when>
	                             <when test="sort == 'salesHigh'">
	                             	order by NVL(s_count, 0) desc, f_createddate desc
	                             	</when>
	                             <otherwise>
		                             order by f_createddate desc
	                             </otherwise>
                             </choose>
                      ) data
           )
	<![CDATA[
	where rnum >= #{start}
	  and rnum <= #{end}
	]]>
</select>

<!-- 조회수+1 -->
<update id="updateViewCount" parameterType="String">
	update furniture
	set    f_viewcount = f_viewcount + 1
	where  f_code = #{f_code} 
</update>

<!-- 1개 select -->
<select id="getReadData" parameterType="String" resultType="com.spring.home.dto.FurnitureDTO">
	select f_code,
	       c_id,
	       c_kind,
	       c_name,
	       f_name,
	       f_price,
	       f_dprice,
	       f_createddate,
	       f_catagory1,
	       f_catagory2,
	       f_catagory3,
	       f_catagory4,
	       f_catagory5,
	       f_discount,
	       f_point,
	       f_count,
	       f_viewcount,
	       f_deliveryPrice
	from   furniture
	where  f_code = #{f_code} 
</select>


<!-- 0527 모하영 if 추가 -->
<select id="countSearchData" resultType="int">
    select Count(*)
    from   furniture
    where  ${searchKey} like '%'
              || #{searchValue}
              || '%'

    <if test="f_catagory1 != null and f_catagory1 != ''">
        and f_catagory1 = #{f_catagory1}
    </if>

    <if test="f_catagory2 != null and f_catagory2 != ''">
        and f_catagory2 = #{f_catagory2}
    </if>

    <if test="f_catagory3 != null and f_catagory3 != ''">
        and f_catagory3 = #{f_catagory3}
    </if>

    <if test="f_catagory4 != null and f_catagory4 != ''">
        and f_catagory4 = #{f_catagory4}
    </if>

    <if test="f_catagory5 != null and f_catagory5 != ''">
        and f_catagory5 = #{f_catagory5}
    </if>
</select>

<select id="getFurnitureByCompany" parameterType="com.spring.home.dto.FurnitureDTO" resultType="com.spring.home.dto.FurnitureDTO">
	WITH TARGET_FURNITURE AS (SELECT * FROM FURNITURE F
	<where>
		AND F.C_ID = #{c_id}
        <if test="c_kind != null and c_name != null">
        	AND F.C_KIND = #{c_kind}
            AND F.C_NAME = #{c_name}
        </if>
    </where>
	),
	REVIEW_SUMMARY AS (SELECT R.F_CODE,
		COUNT(CASE WHEN R.FR_IDX &gt; 0 THEN 1 END)       AS r_count,
        COUNT(CASE WHEN R.FR_IDX &lt; 0 THEN 1 END)       AS a_count,
        AVG(CASE WHEN R.FR_IDX &gt; 0 THEN R.FR_STAR END) AS star_avg
	        FROM F_REVIEW R
	        JOIN TARGET_FURNITURE TF
        		ON R.F_CODE = TF.F_CODE
        	GROUP BY R.F_CODE),
	CART_SUMMARY AS (SELECT C.F_CODE,
    	SUM(C.F_COUNT) AS cart_total_f_count,
        SUM(C.F_PRICE) AS cart_total_f_price,
        AVG(C.F_COUNT) AS cart_avg_f_count,
        COUNT(*) AS cart_total_buy
	        FROM CART C
	        JOIN TARGET_FURNITURE TF
	        	ON C.F_CODE = TF.F_CODE
	        		WHERE C.F_STATUS = 'Y'
	        GROUP BY C.F_CODE)
	SELECT TF.*,
		NVL(RS.r_count, 0) AS r_count,
		NVL(RS.a_count, 0) AS a_count,
		NVL(RS.star_avg, 0)     AS star_avg,
		NVL(CS.cart_total_f_count, 0)  AS cart_total_f_count,
		NVL(CS.cart_total_f_price, 0)  AS cart_total_f_price,
		NVL(CS.cart_avg_f_count, 0)    AS cart_avg_f_count,
		NVL(CS.cart_total_buy, 0)    AS cart_total_buy
	FROM TARGET_FURNITURE TF
		LEFT JOIN REVIEW_SUMMARY RS
			ON TF.F_CODE = RS.F_CODE
		LEFT JOIN CART_SUMMARY CS
			ON TF.F_CODE = CS.F_CODE
	ORDER BY TF.F_CREATEDDATE DESC
</select>

<update id="decreaseStock">
    UPDATE furniture
    SET f_count = f_count - #{count}
    WHERE f_code = #{f_code}
      AND f_count >= #{count}
</update>

<update id="increaseStock">
    UPDATE furniture
    SET f_count = f_count + #{count}
    WHERE f_code = #{f_code}
</update>

	<!-- 메인화면 알고리즘 추천 관련 숨김처리 -->
	<select id="getHiddenFurnitureCodes" resultType="String">
		select f_code
		  from furniturehide
		 where id = #{id}
	</select>
	
	<delete id="deleteHiddenFurniture">
		delete from furniturehide
		 where id = #{id}
	</delete>
	
	<insert id="insertHiddenFurniture">
		insert into furniturehide
		(
			id,
			f_code,
			fh_createddate
	    ) values 
	    (
	    	#{id},
	    	#{f_code},
	    	sysdate
	    )
	</insert>
	<!-- 알고리즘 조금 더 디테일하게 추가 -->
	<select id="getPopularFurnitureCodesByUserGroup" resultType="String">
		select f_code
		  from (
			   select c.f_code,
			   		  count(*) as buy_count
			   	 from cart c
			   	 join users u
			   	   on c.id = u.id
			   	where c.f_status = 'Y'
			   	  and u.gender = #{gender}
			   	  and trunc(months_between(sysdate, u.birth) / 12)
			   	  	  between #{minAge} and #{maxAge}
			   	group by c.f_code
			   	order by buy_count desc
			   )
	</select>
	
	<select id="getFurnitureStock" parameterType="string" resultType="int">
		SELECT f_count
		FROM furniture
		WHERE f_code = #{f_code}
	</select>
	
	
</mapper>
