<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.home.mapper.FurnitureMapper">

<!-- 입력 -->
<insert id="insertData" parameterType="com.spring.home.dto.FurnitureDTO">
	insert into furniture (f_code, c_id, c_kind, c_name,f_name,f_price, f_dprice, f_createdDate, f_category1,f_category2,f_category3,f_category4,f_category5,f_discount,f_point,f_count)
	values (#{f_code},#{c_id},#{c_kind},#{c_name},#{f_name},#{f_price},#{f_dprice},sysdate ,#{f_category1},#{f_category2},#{f_category3},#{f_category4},#{f_category5},#{f_discount},#{f_point},#{f_count})
</insert>
<!-- 수정 -->
<update id="updateData" parameterType="com.spring.home.dto.FurnitureDTO">
	update furniture set f_name=#{f_name}, f_price=#{f_price},f_dprice=#{f_dprice},f_category1=#{f_category1},f_category2=#{f_category2},f_category3=#{f_category3},f_category4=#{f_category4},f_category5=#{f_category5},f_discount=#{f_discount},f_point=#{f_point},f_count=#{f_count}
	where f_code=#{f_code}
</update>

<!-- 삭제 -->
<delete id="deleteData" parameterType="int">
	delete furniture where f_code=#{f_code}
</delete>

<!-- 전체 select -->
<select id="getLists" parameterType="hashMap" resultType="com.spring.home.dto.FurnitureDTO">
	select * from (
    select rownum rnum, data.* from (
    select f_code, c_id, c_kind, c_name, f_name, f_price, f_dprice,
    f_createdDate, f_category1, f_category2, f_category3,
    f_category4, f_category5, f_discount, f_point, f_count
    from furniture
    where ${searchKey} like '%' || #{searchValue} || '%'
    order by f_code desc
    ) data)
    <![CDATA[
    where rnum>=#{start} and rnum<=#{end}
    ]]>
</select>

<!-- 1개 select -->
<select id="getReadData" parameterType="int" resultType="com.spring.home.dto.FurnitureDTO">
	select f_code, c_id, c_kind, c_name,f_name,f_price, f_dprice, f_createdDate, f_category1,f_category2,f_category3,f_category4,f_category5,f_discount,f_point,f_count
	from furniture where f_code=#{f_code}
</select>

</mapper>
