<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.home.mapper.ImageMapper">

	<select id="getOne"
		parameterType="com.spring.home.dto.ImageQueryDTO"
		resultType="com.spring.home.dto.ImageDTO">
		SELECT * FROM (
		SELECT * FROM IMG
		<where>
			<choose>
				<when test='kind == "I_REVIEW"'>
					AND DIR_A = #{a} AND DIR_B = #{b} AND DIR_C = #{c}
					AND DIR_D = #{d}
					AND DIR_E = #{e}
				</when>
				<when
					test='kind == "F_REVIEW" or kind == "QUESTION" or kind == "Q&amp;A" '>
					AND DIR_A = #{a} AND DIR_D = #{d}
				</when>
				<when test='kind == "U_PROFILE"'>
					AND DIR_D = #{d}
				</when>
				<when
					test='kind == "LOGO" or kind == "I_EX" or kind == "C_PROFILE"'>
					AND DIR_A = #{a} AND DIR_B = #{b} AND DIR_C = #{c} AND DIR_D =
					#{d}
				</when>
				<when test='kind == "FUNITURE"'>
					AND DIR_A = #{a}
				</when>
				<when test='kind == "DEV"'>
					AND DIR_A = #{a} AND DIR_B = #{b}
				</when>
				<when test='kind == "BOARD"'>
					AND DIR_A = #{a} AND DIR_D = #{d}
				</when>
				<otherwise>
					AND img_kind = #{kind}
				</otherwise>
			</choose>
			<if test="idx != -1">
				AND img_idx = #{idx}
			</if>
			<if test="tag != null and tag != ''">
				AND TAG LIKE '%' || #{tag} || '%'
			</if>
		</where>
		ORDER BY IMG_CREATEDDATE DESC )
		WHERE ROWNUM = 1
	</select>

	<select id="getList"
		parameterType="com.spring.home.dto.ImageQueryDTO"
		resultType="com.spring.home.dto.ImageDTO">
		SELECT * FROM IMG
		<where>
			<if test='range != "ALL"'>
				<choose>
					<when test='kind == "I_REVIEW"'>
						AND DIR_A = #{a} AND DIR_B = #{b} AND DIR_C = #{c}
						AND DIR_D = #{d}
						AND DIR_E = #{e}
					</when>
					<when
						test='kind == "F_REVIEW" or kind == "QUESTION" or kind == "Q&amp;A" '>
						AND DIR_A = #{a} AND DIR_D = #{d}
					</when>
					<when test='kind == "U_PROFILE"'>
						AND DIR_D = #{d}
					</when>
					<when
						test='kind == "LOGO" or kind == "I_EX" or kind == "C_PROFILE"'>
						AND DIR_A = #{a} AND DIR_B = #{b} AND DIR_C = #{c} AND DIR_D
						=
						#{d}
					</when>
					<when test='kind == "FUNITURE"'>
						AND DIR_A = #{a}
					</when>
					<when test='kind == "DEV"'>
						AND DIR_A = #{a} AND DIR_B = #{b}
					</when>
					<when test='kind == "BOARD"'>
						AND DIR_A = #{a} AND DIR_D = #{d}
					</when>
				</choose>
				<if test="idx != -1">
					AND img_idx = #{idx}
				</if>
				<if test="tag != null and tag != ''">
					AND TAG LIKE '%' || #{tag} || '%'
				</if>
				AND img_kind = #{kind}
			</if>
			<if test='range == "ALL"'>
				AND img_kind = #{kind}
			</if>
		</where>
	</select>

	<insert id="insertImage"
		parameterType="com.spring.home.dto.ImageDTO">
		INSERT into IMG
		(IMG_KIND,IMG_TAG,IMG_IDX,DIR_A,DIR_B,DIR_C,DIR_D,DIR_E,
		IMG_NAME)
		VALUES
		(
		#{img_kind, jdbcType=VARCHAR},
		#{img_tag, jdbcType=VARCHAR},
		#{img_idx, jdbcType=INTEGER},
		#{dir_a, jdbcType=VARCHAR},
		#{dir_b,
		jdbcType=VARCHAR},
		#{dir_c, jdbcType=VARCHAR},
		#{dir_d,
		jdbcType=VARCHAR},
		#{dir_e, jdbcType=VARCHAR},
		#{img_name,
		jdbcType=VARCHAR}
		)
	</insert>

	<select id="getImgByFileName" parameterType="string"
		resultType="com.spring.home.dto.ImageDTO">
		SELECT * FROM IMG
		WHERE REGEXP_REPLACE(IMG_NAME,
		'\.[^.]+$','') = #{name}
	</select>

	<update id="updateImageName">
		BEGIN
		<foreach collection="list" item="img" separator=";">
			UPDATE IMG
			SET
			IMG_NAME = #{img.after},
			IMG_CREATEDDATE = SYSDATE
			WHERE
			IMG_NAME =
			#{img.before}
		</foreach>
		;
		END;
	</update>

	<delete id="deleteImage" parameterType="string">
		DELETE IMG WHERE IMG_NAME
		= #{name}
	</delete>

</mapper>