<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.home.mapper.ImageMapper">

	<select id="getOne" parameterType="com.spring.home.dto.ImageQueryDTO" resultType="com.spring.home.dto.ImageDTO">
		SELECT *
		FROM   (
			SELECT   *
			FROM     img 
			<where>
				<choose>
					<when test='kind == "I_REVIEW"'>
		                AND      dir_a = #{a}
		                AND      dir_b = #{b}
		                AND      dir_c = #{c}
		                AND      dir_d = #{d}
		                AND      dir_e = #{e}
					</when>
					<when test='kind == "F_REVIEW" or kind == "QUESTION" or kind == "Q&amp;A" or kind == "CLAIM" '>
		                AND      dir_a = #{a}
		                AND      dir_d = #{d}
		            </when>
		            <when test='kind == "U_PROFILE"'>
		                AND      dir_d = #{d}
		            </when>
		            <when test='kind == "LOGO" or kind == "I_EX" or kind == "C_PROFILE"'>
		                AND      dir_a = #{a}
		                AND      dir_b = #{b}
		                AND      dir_c = #{c}
		                AND      dir_d = #{d}
		            </when>
		            <when test='kind == "FURNITURE"'>
		                AND      dir_a = #{a} 
		            </when>
		            <when test='kind == "DEV"'>
		                AND      dir_a = #{a}
		                AND      dir_b = #{b} 
		            </when>
		            <when test='kind == "BOARD"'>
		                AND      dir_a = #{a}
		                AND      dir_d = #{d}
		            </when>
		            <otherwise>
		                AND      img_kind = #{kind} 
					</otherwise>
				</choose>
				<if test="idx != -1">
		                AND      img_idx = #{idx} 
				</if>
				<if test="tag != null and tag != ''">
		                AND      tag LIKE '%'|| #{tag} || '%' 
				</if>
			</where>
		ORDER BY img_createddate DESC )
		WHERE  ROWNUM = 1
	</select>

	<select id="getList"
		parameterType="com.spring.home.dto.ImageQueryDTO"
		resultType="com.spring.home.dto.ImageDTO">
		SELECT * FROM IMG
		<where>
			<if test='range != "ALL"'>
				<choose>
					<when test='kind == "I_REVIEW"'>
						AND dir_a = #{a}
						AND dir_b = #{b}
						AND dir_c = #{c}
						AND dir_d = #{d}
						AND dir_e = #{e} 
					</when>
					<when
						test='kind == "F_REVIEW" or kind == "QUESTION" or kind == "Q&amp;A" or kind == "CLAIM"'>
						AND DIR_A = #{a} 
						AND DIR_D = #{d}
					</when>
					<when test='kind == "U_PROFILE"'>
						AND DIR_D = #{d}
					</when>
					<when
						test='kind == "LOGO" or kind == "I_EX" or kind == "C_PROFILE"'>
						AND DIR_A = #{a} 
						AND DIR_B = #{b} 
						AND DIR_C = #{c} 
						AND DIR_D = #{d}
					</when>
					<when test='kind == "FURNITURE"'>
						AND DIR_A = #{a}
					</when>
					<when test='kind == "DEV"'>
						AND DIR_A = #{a} 
						AND DIR_B = #{b}
					</when>
					<when test='kind == "BOARD"'>
						AND DIR_A = #{a} 
						AND DIR_D = #{d}
					</when>
				</choose>
				<if test="idx != -1">
					AND img_idx = #{idx}
				</if>
				<if test="tag != null and tag != ''">
					AND TAG LIKE '%' || #{tag} || '%'
				</if>
				AND img_kind = #{kind}
			</if>
			<if test='range == "ALL"'>
				AND img_kind = #{kind}
			</if>
		</where>
	</select>

	<insert id="insertImage"
		parameterType="com.spring.home.dto.ImageDTO">
		INSERT INTO img
		            (img_kind,
		             img_tag,
		             img_idx,
		             dir_a,
		             dir_b,
		             dir_c,
		             dir_d,
		             dir_e,
		             img_name)
		VALUES      ( #{img_kind,	jdbcType=VARCHAR},
		              #{img_tag,	jdbcType=VARCHAR},
		              #{img_idx,	jdbcType=INTEGER},
		              #{dir_a,		jdbcType=VARCHAR},
		              #{dir_b,		jdbcType=VARCHAR},
		              #{dir_c,		jdbcType=VARCHAR},
		              #{dir_d,		jdbcType=VARCHAR},
		              #{dir_e,		jdbcType=VARCHAR},
		              #{img_name,	jdbcType=VARCHAR} ) 
	</insert>

	<select id="getImgByFileName" parameterType="string"
		resultType="com.spring.home.dto.ImageDTO">
		SELECT *
		FROM   img
		WHERE  Regexp_replace(img_name, '\.[^.]+$', '') = #{name} 
	</select>

	<update id="updateImageName">
		BEGIN
		<foreach collection="list" item="img" separator=";">
			UPDATE img
			SET    img_name = #{img.after},
			       img_createddate = SYSDATE
			WHERE  img_name = #{img.before} 
		</foreach>
			;
		END;
	</update>

	<delete id="deleteImage" parameterType="string">
		DELETE img
		WHERE  img_name = #{name} 
	</delete>

	<update id="updateImageInfo">
		BEGIN
		<foreach collection="list" item="img" separator=";">
			UPDATE img
			SET    img_createddate = SYSDATE,
			<if test="img.tag != null and img.tag != ''">
				img_tag = #{img.tag},
			</if>
			<if test="img.filter != 'onlyTag'">
		       dir_a = #{img.a},
		       dir_b = #{img.b},
		       dir_c = #{img.c},
		       dir_d= #{img.d},
		       dir_e = #{img.e}
				<if test="img.idx != -1">
					,img_idx = #{img.idx}
				</if>
			</if>
			<where>
				AND IMG_NAME =#{img.name}
			</where>
		</foreach>
		;
		END;
	</update>

	<update id="updateImageNameOne" parameterType="map">
		UPDATE img
		SET    img_name = #{after},
		       img_createddate = SYSDATE
		WHERE  img_name = #{before} 
	</update>

	<update id="updateImageInfoOne"
		parameterType="com.spring.home.dto.ImageQueryDTO">
		UPDATE IMG
		SET
		IMG_CREATEDDATE = SYSDATE,
		<if test="tag != null and tag != ''">
			img_tag = #{tag},
		</if>
		<if test="filter != 'onlyTag'">
	       dir_a = #{a},
	       dir_b = #{b},
	       dir_c = #{c},
	       dir_d = #{d},
	       dir_e = #{e}
			<if test="idx != -1">
				, IMG_IDX = #{idx}
			</if>
		</if>
		WHERE IMG_NAME = #{name}
	</update>
	
	<delete id="deleteImageByFCode"
		parameterType="String">
		DELETE FROM img
		WHERE  img_kind = 'FURNITURE'
			AND dir_a = #{f_code} 
	</delete>

	<select id="getImgByImgName"
			parameterType="String"
			resultType="com.spring.home.dto.ImageDTO">
		SELECT *
		FROM IMG
		WHERE IMG_NAME = #{img_name}	
	</select>
</mapper>