<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.home.mapper.InteriorMapper">

    <!-- 데이터 베이스 테스트 -->
    
<insert id="insertInteriorData" parameterType="com.spring.home.dto.InteriorDTO">
	INSERT INTO interior
            (c_id,
             c_kind,
             c_name,
             i_tag,
             i_text)
VALUES      ( #{c_id},
              #{c_kind},
              #{c_name},
              #{i_tag},
              #{i_text}) 	
</insert>

<insert id="insertInteriorExampleData" parameterType="com.spring.home.dto.InteriorExampleDTO">
INSERT INTO i_example
            (c_id,
             c_name,
             c_kind,
             ie_tag,
             ie_tag2,
             ie_content)
VALUES      ( #{c_id},
              #{c_name},
              #{c_kind},
              #{ie_tag},
              #{ie_tag2},
              #{ie_content}) 
</insert>

<insert id="insertBookingData" parameterType="com.spring.home.dto.BookingDTO">
INSERT INTO booking
            (id,
             c_id,
             c_kind,
             c_name,
             b_kind,
             b_long,
             b_date,
             b_status,
             b_content,
             b_answer)
VALUES      ( #{id},
              #{c_id},
              #{c_kind},
              #{c_name},
              #{b_kind},
              #{b_long},
              #{b_date},
              #{b_status},
              #{b_content},
              #{b_answer}) </insert>

<insert id="insertInvoiceData" parameterType="com.spring.home.dto.InvoiceDTO">
INSERT INTO invoice
            (id,
             c_id,
             c_kind,
             c_name,
             b_createddate,
             invoice_no,
             invoice_kind)
VALUES      ( #{id},
              #{c_id},
              #{c_kind},
              #{c_name},
              #{b_createdDate},
              #{invoice_no},
              #{invoice_kind}) 	
</insert>

<insert id="insertInvoiceDetails" parameterType="com.spring.home.dto.InvoiceDTO">
    INSERT ALL
    <foreach collection="details" item="item" index="idx">
 INTO invoice_detail (id, c_id,c_kind,c_name,b_createddate,invoice_no,invoice_kind,invoice_text,invoice_qty,invoice_price)
VALUES (#{id}, #{c_id},#{c_kind},#{c_name},#{b_createddate},#{invoice_no},#{invoice_kind},#{item.invoice_text}, #{item.invoice_qty},#{item.invoice_price})
    </foreach>  
    SELECT * FROM DUAL  
</insert>

<insert id="insertInvoiceDetailData" parameterType="com.spring.home.dto.InvoiceDetailDTO">
  INSERT INTO invoice_detail
            (id,
             c_id,
             c_kind,
             c_name,
             b_createddate,
             invoice_no,
             invoice_text,
             invoice_qty,
             invoice_price)
VALUES      ( #{id},
              #{c_id},
              #{c_kind},
              #{c_name},
              #{b_createdDate},
              #{invoice_no},
              #{invoice_text},
              #{invoice_qty},
              #{invoice_price}) 
</insert>

<insert id="insertInteriorReview" parameterType="com.spring.home.dto.InteriorReviewDTO">
INSERT INTO i_review
            (id,
             c_id,
             c_kind,
             c_name,
             b_createddate,
             invoice_no,
             invoice_kind,
             ir_content)
VALUES      ( #{id},
              #{c_id},
              #{c_kind},
              #{c_name},
              #{b_createdDate},
              #{invoice_no},
              #{invoice_kind},
              #{ir_content}) 
</insert>

<select id="getLists" resultType="com.spring.home.dto.CompanyDTO">
	SELECT c_id,
       c_kind,
       c_name,
       c_tel,
       c_addr,
       c_info,
       c_boss
FROM   company
WHERE  c_kind LIKE 'interior' 
</select>

<select id="getArticleLists" resultType="com.spring.home.dto.InteriorDTO">
SELECT c_id,
       c_kind,
       c_name,
       i_tag,
       i_text
FROM   interior 
</select>

<select id="getReadData"  parameterType="hashMap" resultType="com.spring.home.dto.InteriorDTO">
SELECT c_id,
       c_kind,
       c_name,
       i_tag,
       i_text
FROM   interior
WHERE  c_id LIKE '%'
                 || #{c_id}
                 || '%'
       AND c_kind LIKE '%'
                       || #{c_kind}
                       || '%'
       AND c_name LIKE '%'
                       || #{c_name}
                       || '%' 
</select>

<select id="getExamples"  parameterType="hashMap" resultType="com.spring.home.dto.InteriorExampleDTO">
SELECT c_id,
       c_kind,
       c_name,
       ie_content,
       ie_tag,
       ie_tag2
FROM   i_example
WHERE  c_id LIKE '%'
                 || #{c_id}
                 || '%'
       AND c_kind LIKE '%'
                       || #{c_kind}
                       || '%'
       AND c_name LIKE '%'
                       || #{c_name}
                       || '%' 
</select>

<select id="getBookings"  parameterType="hashMap" resultType="com.spring.home.dto.BookingDTO">
SELECT id,
       b_createddate,
       c_id,
       c_kind,
       c_name,
       b_kind,
       b_long,
       b_date,
       b_status,
       b_content,
       b_answer
FROM   booking
WHERE  c_id LIKE '%'
                 || #{c_id}
                 || '%'
       AND c_kind LIKE '%'
                       || #{c_kind}
                       || '%'
       AND c_name LIKE '%'
                       || #{c_name}
                       || '%' 
</select>

<select id="getInvoices"  parameterType="hashMap" resultType="com.spring.home.dto.InvoiceDTO">
SELECT id,
       b_createddate,
       c_id,
       c_kind,
       c_name,
       invoice_no,
       invoice_kind
FROM   invoice
WHERE  id LIKE '%'
               || #{id}
               || '%'
       AND c_id LIKE '%'
                     || #{c_id}
                     || '%'
       AND c_kind LIKE '%'
                       || #{c_kind}
                       || '%'
       AND c_name LIKE '%'
                       || #{c_name}
                       || '%'
       AND b_createddate = #{b_createdDate, jdbcType=TIMESTAMP} 
</select>

<select id="getInvoicedetails"  parameterType="hashMap" resultType="com.spring.home.dto.InvoiceDetailDTO">
SELECT id,
       b_createddate,
       c_id,
       c_kind,
       c_name,
       invoice_no,
       invoice_kind,
       invoice_text,
       invoice_qty,
       invoice_price
FROM   invoice_detail
WHERE  id LIKE '%'
               || #{id}
               || '%'
       AND c_id LIKE '%'
                     || #{c_id}
                     || '%'
       AND c_kind LIKE '%'
                       || #{c_kind}
                       || '%'
       AND c_name LIKE '%'
                       || #{c_name}
                       || '%'
       AND b_createddate = #{b_createdDate, jdbcType=TIMESTAMP}
       AND invoice_no LIKE '%'
                           || #{invoice_no}
                           || '%'
       AND invoice_kind LIKE '%'
                             || #{invoice_kind}
                             || '%' 
</select>

<select id="getInteriorReviews"  parameterType="hashMap" resultType="com.spring.home.dto.InteriorReviewDTO">
SELECT id,
       b_createddate,
       c_id,
       c_kind,
       c_name,
       invoice_no,
       invoice_kind,
       ir_content,
       ir_createddate
FROM   i_review
WHERE  c_id LIKE '%'
                 || #{c_id}
                 || '%'
       AND c_kind LIKE '%'
                       || #{c_kind}
                       || '%'
       AND c_name LIKE '%'
                       || #{c_name}
                       || '%'
       AND invoice_kind LIKE '%'
                             || #{invoice_kind}
                             || '%' 
</select>

<select id="getCompany" parameterType="com.spring.home.dto.CompanyDTO" resultType="com.spring.home.dto.CompanyDTO">
SELECT *
FROM   company
WHERE  c_id = #{c_id}
       AND c_name = #{c_name}
       AND c_kind = #{c_kind} 
</select>

<update id="updateInterior" parameterType="com.spring.home.dto.InteriorDTO">
UPDATE interior
SET    i_text = #{i_text}
WHERE  c_id = #{c_id}
       AND c_kind = #{c_kind}
       AND c_name = #{c_name}
       AND i_tag = #{i_tag} 
</update>

<update id="updateInteriorExample" parameterType="com.spring.home.dto.InteriorExampleDTO">
UPDATE i_example
SET    ie_content = #{ie_content}
WHERE  c_id = #{c_id}
       AND c_kind = #{c_kind}
       AND c_name = #{c_name}
       AND ie_tag = #{ie_tag}
       AND ie_tag2 = #{ie_tag2} 
</update>

<update id="updateBooking" parameterType="com.spring.home.dto.BookingDTO">
UPDATE booking
SET    b_kind = #{b_kind},
       b_long = #{b_long},
       b_status = #{b_status},
       b_date = #{b_date},
       b_content = #{b_content}
WHERE  c_id = #{c_id}
       AND c_kind = #{c_kind}
       AND c_name = #{c_name}
       AND b_createddate = #{b_createdDate}
       AND id = #{id} 
</update>

<update id="updateInteriorReview" parameterType="com.spring.home.dto.InteriorReviewDTO">
UPDATE i_review
SET    ir_content = #{ir_content}
WHERE  c_id = #{c_id}
       AND c_kind = #{c_kind}
       AND c_name = #{c_name}
       AND b_createddate = #{b_createdDate}
       AND id = #{id} 
</update>


</mapper>
