<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.home.mapper.InteriorMapper">

	<!-- 데이터 베이스 테스트 -->

	<insert id="insertInteriorData"
		parameterType="com.spring.home.dto.InteriorDTO">
		INSERT INTO interior
		(c_id,
		c_kind,
		c_name,
		i_tag,
		i_text)
		VALUES ( #{c_id},
		#{c_kind},
		#{c_name},
		#{i_tag},
		#{i_text})
	</insert>

	<insert id="insertInteriorExampleData"
		parameterType="com.spring.home.dto.InteriorExampleDTO">
		
		<selectKey keyProperty="ie_index" resultType="int" order="BEFORE">
        	SELECT SEQ_I_EXAMPLE_INDEX.NEXTVAL FROM DUAL
    	</selectKey>
    
		INSERT INTO i_example
		(c_id,
		c_name,
		c_kind,
		ie_tag,
		ie_tag2,
		ie_content,
		ie_index)
		VALUES ( #{c_id},
		#{c_name},
		#{c_kind},
		#{ie_tag},
		#{ie_tag2},
		#{ie_content},
		#{ie_index})
	</insert>

	<insert id="insertBookingData"
		parameterType="com.spring.home.dto.BookingDTO">
		INSERT INTO booking
		(id,
		c_id,
		c_kind,
		c_name,
		b_kind,
		b_long,
		b_date,
		b_status,
		b_content,
		b_answer)
		VALUES ( #{id},
		#{c_id},
		#{c_kind},
		#{c_name},
		#{b_kind},
		#{b_long},
		#{b_date},
		#{b_status},
		#{b_content},
		#{b_answer})
	</insert>

	<insert id="insertInvoiceData"
		parameterType="com.spring.home.dto.InvoiceDTO">
		INSERT INTO invoice
		(id,
		c_id,
		c_kind,
		c_name,
		b_createdDate,
		invoice_no,
		invoice_kind)
		VALUES ( #{id},
		#{c_id},
		#{c_kind},
		#{c_name},
		#{b_createdDate},
		#{invoice_no},
		#{invoice_kind})
	</insert>

	<insert id="insertInvoiceDetails"
		parameterType="com.spring.home.dto.InvoiceDTO">
		INSERT ALL
		<foreach collection="details" item="item" index="idx">
			INTO
			invoice_detail (id,
			c_id,c_kind,c_name,b_createdDate,invoice_no,invoice_kind,invoice_text,invoice_qty,invoice_price)
			VALUES (#{id},
			#{c_id},#{c_kind},#{c_name},#{b_createdDate},#{invoice_no},#{invoice_kind},#{item.invoice_text},
			#{item.invoice_qty},#{item.invoice_price})
		</foreach>
		SELECT * FROM DUAL
	</insert>

	<insert id="insertInvoiceDetailData"
		parameterType="com.spring.home.dto.InvoiceDetailDTO">
		INSERT INTO invoice_detail
		(id,
		c_id,
		c_kind,
		c_name,
		b_createddate,
		invoice_no,
		invoice_text,
		invoice_qty,
		invoice_price)
		VALUES ( #{id},
		#{c_id},
		#{c_kind},
		#{c_name},
		#{b_createdDate},
		#{invoice_no},
		#{invoice_text},
		#{invoice_qty},
		#{invoice_price})
	</insert>

	<insert id="insertInteriorReview"
		parameterType="com.spring.home.dto.InteriorReviewDTO">
		INSERT INTO i_review
		(id,
		c_id,
		c_kind,
		c_name,
		b_createddate,
		invoice_no,
		invoice_kind,
		ir_content)
		VALUES ( #{id},
		#{c_id},
		#{c_kind},
		#{c_name},
		#{b_createdDate},
		#{invoice_no},
		#{invoice_kind},
		#{ir_content})
	</insert>

	<select id="getLists"
		resultType="com.spring.home.dto.CompanyDTO">
		SELECT c_id,
		c_kind,
		c_name,
		c_tel,
		c_addr,
		c_info,
		c_boss
		FROM
		company
		WHERE c_kind LIKE 'interior'
	</select>

	<select id="getPagedLists" parameterType="map"
		resultType="com.spring.home.dto.CompanyDTO">
		SELECT *
		FROM (
			SELECT ROWNUM rnum, data.*
			FROM (
				SELECT DISTINCT c.c_id,
					c.c_kind,
					c.c_name,
					c.c_tel,
					c.c_addr,
					c.c_info,
					c.c_boss
				FROM company c
				WHERE c.c_kind = 'interior'
				<if test="search != null and search != ''">
					AND (
						c.c_name LIKE '%' || #{search} || '%'
						OR c.c_addr LIKE '%' || #{search} || '%'
						OR c.c_tel LIKE '%' || #{search} || '%'
					)
				</if>
				<if test="filters != null and filters.size() > 0">
					<foreach collection="filters" item="filter">
						AND EXISTS (
							SELECT 1
							FROM interior i
							WHERE i.c_id = c.c_id
								AND i.c_kind = c.c_kind
								AND i.c_name = c.c_name
								AND i.i_tag = #{filter.filterKey}
								AND i.i_text IN
								<foreach collection="filter.filterValues" item="filterValue" open="(" separator="," close=")">
									#{filterValue}
								</foreach>
						)
					</foreach>
				</if>
				ORDER BY c.c_name ASC
			) data
			WHERE ROWNUM &lt;= #{end}
		)
		WHERE rnum &gt;= #{start}
	</select>

	<select id="getPagedListCount" parameterType="map" resultType="int">
		SELECT COUNT(*)
		FROM (
			SELECT DISTINCT c.c_id, c.c_kind, c.c_name
			FROM company c
			WHERE c.c_kind = 'interior'
			<if test="search != null and search != ''">
				AND (
					c.c_name LIKE '%' || #{search} || '%'
					OR c.c_addr LIKE '%' || #{search} || '%'
					OR c.c_tel LIKE '%' || #{search} || '%'
				)
			</if>
			<if test="filters != null and filters.size() > 0">
				<foreach collection="filters" item="filter">
					AND EXISTS (
						SELECT 1
						FROM interior i
						WHERE i.c_id = c.c_id
							AND i.c_kind = c.c_kind
							AND i.c_name = c.c_name
							AND i.i_tag = #{filter.filterKey}
							AND i.i_text IN
							<foreach collection="filter.filterValues" item="filterValue" open="(" separator="," close=")">
								#{filterValue}
							</foreach>
					)
				</foreach>
			</if>
		)
	</select>

	<select id="getArticleLists"
		resultType="com.spring.home.dto.InteriorDTO">
		SELECT c_id,
		c_kind,
		c_name,
		i_tag,
		i_text
		FROM interior
	</select>

	<select id="getReadData" parameterType="hashMap"
		resultType="com.spring.home.dto.InteriorDTO">
		SELECT c_id,
		c_kind,
		c_name,
		i_tag,
		i_text
		FROM interior

		<where>
			<if test="c_id != null and c_id != ''">
				AND c_id = #{c_id}
			</if>

			<if test="c_kind != null and c_kind != ''">
				AND c_kind = #{c_kind}
			</if>

			<if test="c_name != null and c_name != ''">
				AND c_name = #{c_name}
			</if>
		</where>
	</select>


	<select id="getExamples" parameterType="hashMap"
		resultType="com.spring.home.dto.InteriorExampleDTO">
		SELECT c_id,
		c_kind,
		c_name,
		ie_content,
		ie_tag,
		ie_tag2,
		ie_index
		FROM i_example
		<where>
			<if test="c_id != null and c_id != ''">
				AND c_id = #{c_id}
			</if>

			<if test="c_kind != null and c_kind != ''">
				AND c_kind = #{c_kind}
			</if>

			<if test="c_name != null and c_name != ''">
				AND c_name = #{c_name}
			</if>
		</where>
		ORDER BY IE_INDEX DESC
	</select>


	<select id="getBookings" parameterType="hashMap"
		resultType="com.spring.home.dto.BookingDTO">
		SELECT id,
		b_createddate,
		c_id,
		c_kind,
		c_name,
		b_kind,
		b_long,
		b_date,
		b_status,
		b_content,
		b_answer
		FROM booking
		<where>
			<if test="id != null and id != ''">
				AND id = #{id}
			</if>

			<if test="c_id != null and c_id != ''">
				AND c_id = #{c_id}
			</if>

			<if test="c_kind != null and c_kind != ''">
				AND c_kind = #{c_kind}
			</if>

			<if test="c_name != null and c_name != ''">
				AND c_name = #{c_name}
			</if>
		</where>
	</select>


	<select id="getInvoices" parameterType="hashMap"
		resultType="com.spring.home.dto.InvoiceDTO">
		SELECT INVOICE.id as id,
		name,
		b_createdDate,
		c_id,
		c_kind,
		c_name,
		invoice_no,
		invoice_kind
		FROM INVOICE JOIN USERS ON INVOICE.id = USERS.id
		<where>
			<if test="id != null and id != ''">
				AND INVOICE.id = #{id}
			</if>

			<if test="c_id != null and c_id != ''">
				AND c_id = #{c_id}
			</if>

			<if test="c_kind != null and c_kind != ''">
				AND c_kind = #{c_kind}
			</if>

			<if test="c_name != null and c_name != ''">
				AND c_name = #{c_name}
			</if>

			<if test="b_createdDate != null">
				AND b_createdDate = #{b_createdDate, jdbcType=TIMESTAMP}
			</if>
		</where>
	</select>

	<select id="getInvoice" parameterType="hashMap"
		resultType="com.spring.home.dto.InvoiceDTO">
		SELECT INVOICE.id as id,
		name,
		b_createdDate,
		c_id,
		c_kind,
		c_name,
		invoice_no,
		invoice_kind
		FROM INVOICE JOIN USERS ON INVOICE.id = USERS.id
		<where>
			<if test="id != null and id != ''">
				AND INVOICE.id = #{id}
			</if>

			<if test="c_id != null and c_id != ''">
				AND c_id = #{c_id}
			</if>

			<if test="c_kind != null and c_kind != ''">
				AND c_kind = #{c_kind}
			</if>

			<if test="c_name != null and c_name != ''">
				AND c_name = #{c_name}
			</if>

			<if test="b_createdDate != null">
				AND b_createdDate = #{b_createdDate, jdbcType=TIMESTAMP}
			</if>
			AND invoice_kind = 'Y'							
		</where>
	</select>
	
	<select id="getInvoiceCancel" parameterType="hashMap"
		resultType="com.spring.home.dto.InvoiceDTO">
		SELECT * FROM (
			SELECT	INVOICE.id as id,
					name,
					b_createdDate,
					c_id,
					c_kind,
					c_name,
					invoice_no,
					invoice_kind
			FROM INVOICE JOIN USERS ON INVOICE.id = USERS.id
		<where>
			<if test="id != null and id != ''">
				AND INVOICE.id = #{id}
			</if>

			<if test="c_id != null and c_id != ''">
				AND c_id = #{c_id}
			</if>

			<if test="c_kind != null and c_kind != ''">
				AND c_kind = #{c_kind}
			</if>

			<if test="c_name != null and c_name != ''">
				AND c_name = #{c_name}
			</if>

			<if test="b_createdDate != null">
				AND b_createdDate = #{b_createdDate, jdbcType=TIMESTAMP}
			</if>
		</where>
		ORDER BY invoice_no DESC
		) WHERE ROWNUM = 1
	</select>


	<select id="getInvoicedetails" parameterType="hashMap"
		resultType="com.spring.home.dto.InvoiceDetailDTO">
		SELECT id,
		b_createdDate,
		c_id,
		c_kind,
		c_name,
		invoice_no,
		invoice_kind,
		invoice_text,
		invoice_qty,
		invoice_price
		FROM invoice_detail
		<where>
			<if test="id != null and id != ''">
				AND id = #{id}
			</if>

			<if test="c_id != null and c_id != ''">
				AND c_id = #{c_id}
			</if>

			<if test="c_kind != null and c_kind != ''">
				AND c_kind = #{c_kind}
			</if>

			<if test="c_name != null and c_name != ''">
				AND c_name = #{c_name}
			</if>

			<if test="b_createdDate != null">
				AND b_createdDate = #{b_createdDate, jdbcType=TIMESTAMP}
			</if>

			<if test="invoice_no != null and invoice_no != ''">
				AND invoice_no = #{invoice_no}
			</if>

			<if test="invoice_kind != null and invoice_kind != ''">
				AND invoice_kind = #{invoice_kind}
			</if>
		</where>
	</select>


	<select id="getUserInteriorReviews" parameterType="hashMap"
		resultType="com.spring.home.dto.InteriorReviewDTO">
		SELECT id,
		b_createddate,
		c_id,
		c_kind,
		c_name,
		invoice_no,
		invoice_kind,
		ir_content,
		ir_createdDate
		FROM i_review
		<where>
			<if test="id != null and id != ''">
				AND id = #{id}
			</if>

			<if test="c_id != null and c_id != ''">
				AND c_id = #{c_id}
			</if>

			<if test="c_kind != null and c_kind != ''">
				AND c_kind = #{c_kind}
			</if>

			<if test="c_name != null and c_name != ''">
				AND c_name = #{c_name}
			</if>

			<if test="invoice_no != null and invoice_no != ''">
				AND invoice_no = #{invoice_no}
			</if>

			<if test="invoice_kind != null and invoice_kind != ''">
				AND invoice_kind = #{invoice_kind}
			</if>

			<if test="b_createdDate != null">
				AND b_createddate = #{b_createdDate, jdbcType=TIMESTAMP}
			</if>
		</where>
	</select>


	<select id="getCompanyInteriorReviews" parameterType="hashMap"
		resultType="com.spring.home.dto.InteriorReviewDTO">
		SELECT id,
		b_createddate,
		c_id,
		c_kind,
		c_name,
		invoice_no,
		invoice_kind,
		ir_content,
		ir_createddate
		FROM i_review
		<where>
			<if test="c_id != null and c_id != ''">
				AND c_id = #{c_id}
			</if>

			<if test="c_kind != null and c_kind != ''">
				AND c_kind = #{c_kind}
			</if>

			<if test="c_name != null and c_name != ''">
				AND c_name = #{c_name}
			</if>
		</where>
	</select>

	<select id="getAllReviewlists"
		resultType="com.spring.home.dto.InteriorReviewDTO">
		SELECT ir.id,
		ir.b_createddate,
		ir.c_id,
		ir.c_kind,
		ir.c_name,
		ir.invoice_no,
		ir.invoice_kind,
		ir.ir_content,
		ir.ir_createddate,

		c.c_addr,
		c.c_tel,
		c.c_boss,
		c.c_info

		FROM i_review ir
		JOIN company c
		ON
		ir.c_id = c.c_id
		AND ir.c_kind = c.c_kind
		AND ir.c_name = c.c_name
	</select>

	<select id="getPagedReviewLists" parameterType="map"
		resultType="com.spring.home.dto.InteriorReviewDTO">
		SELECT *
		FROM (
			SELECT ROWNUM rnum, data.*
			FROM (
				SELECT ir.id,
					ir.b_createddate,
					ir.c_id,
					ir.c_kind,
					ir.c_name,
					ir.invoice_no,
					ir.invoice_kind,
					ir.ir_content,
					ir.ir_createddate,
					c.c_addr,
					c.c_tel,
					c.c_boss,
					c.c_info
				FROM i_review ir
				JOIN company c
					ON ir.c_id = c.c_id
					AND ir.c_kind = c.c_kind
					AND ir.c_name = c.c_name
				ORDER BY ir.ir_createddate DESC
			) data
			WHERE ROWNUM &lt;= #{end}
		)
		WHERE rnum &gt;= #{start}
	</select>

	<select id="getPagedReviewListCount" resultType="int">
		SELECT COUNT(*)
		FROM i_review ir
		JOIN company c
			ON ir.c_id = c.c_id
			AND ir.c_kind = c.c_kind
			AND ir.c_name = c.c_name
	</select>

	<select id="getAllExamples"
		resultType="com.spring.home.dto.InteriorExampleDTO">
		SELECT ie.c_id,
		ie.c_kind,
		ie.c_name,
		ie.ie_content,
		ie.ie_tag,
		ie.ie_tag2,
		ie_index,

		c.c_addr,
		c.c_tel,
		c.c_boss,
		c.c_info

		FROM i_example ie
		JOIN company c
		ON ie.c_id = c.c_id
		AND ie.c_kind = c.c_kind
		AND
		ie.c_name = c.c_name
	</select>

	<select id="getPagedExampleLists" parameterType="map"
		resultType="com.spring.home.dto.InteriorExampleDTO">
		SELECT *
		FROM (
			SELECT ROWNUM rnum, data.*
			FROM (
				SELECT ie.c_id,
					ie.c_kind,
					ie.c_name,
					ie.ie_content,
					ie.ie_tag,
					ie.ie_tag2,
					ie.ie_index,
					c.c_addr,
					c.c_tel,
					c.c_boss,
					c.c_info
				FROM i_example ie
				JOIN company c
					ON ie.c_id = c.c_id
					AND ie.c_kind = c.c_kind
					AND ie.c_name = c.c_name
				WHERE 1 = 1
				<if test="filterType != null and filterType != ''">
				  AND ie.ie_tag = #{filterType}
				</if>
				<if test="filterValue != null and filterValue != ''">
				  AND ie.ie_tag2 = #{filterValue}
				</if>
				ORDER BY ie.ie_index DESC
			) data
			WHERE ROWNUM &lt;= #{end}
		)
		WHERE rnum &gt;= #{start}
	</select>

	<select id="getPagedExampleListCount" parameterType="map" resultType="int">
		SELECT COUNT(*)
		FROM i_example ie
		JOIN company c
			ON ie.c_id = c.c_id
			AND ie.c_kind = c.c_kind
			AND ie.c_name = c.c_name
		WHERE 1 = 1
		<if test="filterType != null and filterType != ''">
		  AND ie.ie_tag = #{filterType}
		</if>
		<if test="filterValue != null and filterValue != ''">
		  AND ie.ie_tag2 = #{filterValue}
		</if>
	</select>

	<select id="getAllBookings"
		resultType="com.spring.home.dto.BookingDTO">
		SELECT id,
		b_createddate,
		c_id,
		c_kind,
		c_name,
		b_kind,
		b_long,
		b_date,
		b_status,
		b_content,
		b_answer
		FROM booking
	</select>


	<select id="getCompany"
		parameterType="com.spring.home.dto.CompanyDTO"
		resultType="com.spring.home.dto.CompanyDTO">
		SELECT *
		FROM company
		WHERE c_id = #{c_id}
		AND c_name =
		#{c_name}
		AND c_kind = #{c_kind}
	</select>

	<update id="updateInterior"
		parameterType="com.spring.home.dto.InteriorDTO">
		UPDATE interior
		SET i_text = #{i_text}
		<where>
			AND c_id = #{c_id}
			AND c_kind = #{c_kind}
			AND c_name = #{c_name}
			AND i_tag = #{i_tag}
			AND i_text = #{i_text_before}
		</where>
	</update>

	<update id="updateInteriorExample"
		parameterType="com.spring.home.dto.InteriorExampleDTO">
		UPDATE i_example
		<set>
	        <if test="ie_content != null and ie_content != ''">
	        	ie_content = #{ie_content},
	        </if>
	        <if test="ie_tag != null and ie_tag != ''">
	        	ie_tag = #{ie_tag},
	        </if>
	        <if test="ie_tag2 != null and ie_tag2 != ''">
	        	ie_tag2 = #{ie_tag2},
	        </if>
		</set>
		WHERE IE_INDEX = #{ie_index}
	</update>

	<update id="updateBooking"
		parameterType="com.spring.home.dto.BookingDTO">
		UPDATE booking
		SET b_kind = #{b_kind},
		b_long = #{b_long},
		b_status = #{b_status},
		b_date = #{b_date},
		b_content = #{b_content}
		WHERE c_id = #{c_id}
		AND c_kind = #{c_kind}
		AND c_name = #{c_name}
		AND
		b_createddate = #{b_createdDate}
		AND id = #{id}
	</update>

	<update id="updateInteriorReview"
		parameterType="com.spring.home.dto.InteriorReviewDTO">
		UPDATE i_review
		SET ir_content = #{ir_content}
		WHERE c_id
		= #{c_id}
		AND c_kind = #{c_kind}
		AND c_name = #{c_name}
		AND b_createddate
		= #{b_createdDate}
		AND id = #{id}
	</update>

	<delete id="deleteInterior"
		parameterType="com.spring.home.dto.InteriorDTO">
		DELETE FROM interior
		WHERE c_id = #{c_id}
		AND c_kind =
		#{c_kind}
		AND c_name = #{c_name}
		AND i_tag = #{i_tag}
		AND i_text = #{i_text}
	</delete>

	<delete id="deleteInteriorExample"
		parameterType="com.spring.home.dto.InteriorExampleDTO">
		DELETE FROM i_example
		WHERE ie_index = #{ie_index}
	</delete>

	<delete id="deleteInteriorReview"
		parameterType="com.spring.home.dto.InteriorReviewDTO">
		DELETE FROM i_review
		WHERE c_id = #{c_id}
		AND c_kind =
		#{c_kind}
		AND c_name = #{c_name}
		AND b_createddate = #{b_createdDate}
		AND id = #{id}
	</delete>

	<select id="selectWorkingAndDone"
		parameterType="com.spring.home.dto.BookingDTO"
		resultType="com.spring.home.dto.BookingDTO">
		SELECT * FROM BOOKING
		<where>
			AND c_id = #{c_id}
			AND B_STATUS IN ('working', 'done', 'cancel')
		</where>
	</select>

	<update id="workingToDoneOrCancel"
		parameterType="com.spring.home.dto.BookingDTO">
		UPDATE BOOKING
		SET B_STATUS = #{b_status}
		<where>
			AND ID = #{id}
			AND B_CREATEDDATE = #{b_createdDate}
			AND C_ID = #{c_id}
			AND C_KIND = #{c_kind}
			AND C_NAME = #{c_name}
		</where>
	</update>

	<select id="getCompanyForPDF"
		parameterType="com.spring.home.dto.CompanyDTO"
		resultType="com.spring.home.dto.CompanyDTO">
		SELECT * FROM COMPANY 
		<where>
		AND C_ID 	= #{c_id}
		AND C_KIND 	= 'interior'
		AND C_NAME 	= #{c_name}
		</where>
	</select>
	
	<insert id="insertInteriorSchedule" parameterType="com.spring.home.dto.InteriorScheduleDTO">
		INSERT INTO I_SCHEDULE
		(ID,B_CREATEDDATE,C_ID,C_KIND,C_NAME,IS_STARTDATE,IS_ENDDATE)
		VALUES
		(#{id},#{b_createdDate},#{c_id},#{c_kind},#{c_name},#{is_startdate},#{is_enddate})
	</insert>
	
	<select id="getInteriorSchedule" parameterType="hashMap"
	resultType="com.spring.home.dto.InteriorScheduleDTO">
		SELECT BOOKING.*, IS_STARTDATE, IS_ENDDATE 
		FROM I_SCHEDULE JOIN BOOKING ON
		I_SCHEDULE.ID = BOOKING.ID and 
		I_SCHEDULE.C_ID = BOOKING.C_ID and
		I_SCHEDULE.C_KIND = BOOKING.C_KIND and 
		I_SCHEDULE.C_NAME = BOOKING.C_NAME and
		I_SCHEDULE.B_CREATEDDATE = BOOKING.B_CREATEDDATE
		<where>
			AND I_SCHEDULE.c_id =#{c_id}
			<if test="is_startdate != null and is_startdate != ''">
				AND is_startdate =#{is_startdate}
			</if>
			<if test="is_enddate != null and is_enddate != ''">
				AND is_enddate =#{is_enddate}
			</if>
		</where>
	</select>
	
	<update id="updateScheduleEndDate" parameterType="hashMap">
		UPDATE I_SCHEDULE
		<set>
			<if test='is_startdate != null'>
				IS_STARTDATE = #{is_startdate},
			</if>
			<if test='is_enddate != null'>
				IS_ENDDATE = #{is_enddate},
			</if>
		</set>
		<where>
			AND ID = #{id}
			AND B_CREATEDDATE = #{b_createdDate}
			AND C_ID = #{c_id}
			AND C_KIND = #{c_kind}
			AND C_NAME = #{c_name}
		</where>
	</update>

</mapper>
