<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.home.mapper.InteriorMapper">

    <!-- 데이터 베이스 테스트 -->
    
<insert id="insertInteriorData" parameterType="com.spring.home.dto.InteriorDTO">
	insert into INTERIOR (c_id,c_kind,c_name,i_tag,i_text) values 
	(#{c_id},#{c_kind},#{c_name},#{i_tag},#{i_text})	
</insert>

<insert id="insertInteriorExampleData" parameterType="com.spring.home.dto.InteriorExampleDTO">
	insert into I_EXAMPLE (c_id,c_kind,c_name,ie_tag,ie_tag2,ie_content) values 
	(#{c_id},#{c_kind},#{c_name},#{ie_tag},#{ie_tag2},#{ie_content})	
</insert>

<insert id="insertBookingData" parameterType="com.spring.home.dto.InteriorExampleDTO">
	insert into Booking (id, c_id,c_kind,c_name,b_kind,b_long,b_date,b_status,b_content) values 
	(#{id}, #{c_id},#{c_kind},#{c_name},#{b_kind},#{b_long},#{b_date},#{b_status},#{b_content})	
</insert>

<select id="getLists" resultType="com.spring.home.dto.CompanyDTO">
	select c_id,c_kind,c_name,c_tel,c_addr,c_info,c_boss from COMPANY WHERE c_kind like 'interior'
</select>

<select id="getReadData"  parameterType="hashMap" resultType="com.spring.home.dto.InteriorDTO">
	select c_id,c_kind,c_name,i_tag,i_text
	from INTERIOR where c_id like '%' || #{c_id} || '%'
      and c_kind like '%' || #{c_kind} || '%'
      and c_name like '%' || #{c_name} || '%' 
</select>

<select id="getExamples"  parameterType="hashMap" resultType="com.spring.home.dto.InteriorExampleDTO">
	select c_id,c_kind,c_name,ie_content,ie_tag,ie_tag2
	from I_EXAMPLE where c_id like '%' || #{c_id} || '%'
      and c_kind like '%' || #{c_kind} || '%'
      and c_name like '%' || #{c_name} || '%' 
</select>


</mapper>