<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.spring.home.mapper.QuestionMapper">
	
	<!-- 문의를 작성 -->
	<insert id="insertData" parameterType="com.spring.home.dto.QuestionDTO">
		<selectKey keyProperty="q_idx" resultType="int" order="BEFORE">
			select SEQ_GLOBAL.NEXTVAL from dual
		</selectKey>
			insert into question
			(
				id,
				f_code,
				q_idx,
				q_status,
				q_title,
				q_content,
				q_answer,
				q_answerDate,
				q_secret,
				q_createdDate
			)
			values
			(
				#{id},
				#{f_code},
				#{q_idx},
				#{q_status},
				#{q_title},
				#{q_content},
				null,
				null,
				#{q_secret},
				sysdate
			)
	</insert>

	<!-- 상품별 문의 목록 / as ~~ / join 시켜준다. -->
	<select id="getListsByFCode" resultType="com.spring.home.dto.QuestionDTO">
		select
			q.id,
			q.f_code,
			q.q_idx,
			q.q_status,
			q.q_title,
			q.q_content,
			q.q_answer,
			q.q_answerDate,
			q.q_secret,
			q.q_createdDate,
			f.c_id,
			f.c_kind,
			f.c_name
		from question q
		join furniture f
		  on q.f_code = f.f_code
	   where q.f_code = #{f_code}
	   order by q_idx desc
	</select>
	
	<!-- 마이페이지에서 자신의 문의 확인 -->
	<select id="getMyQuestions" resultType="com.spring.home.dto.QuestionDTO">
		select
			id,
			f_code,
			q_idx,
			q_status,
			q_title,
			q_content,
			q_answer,
			q_answerDate,
			q_secret,
			q_createdDate
		from question
	   where id = #{id}
	   order by q_idx desc
	</select>

	<!-- 업체별 답변 작성 -->
	<update id="updateAnswer" parameterType="com.spring.home.dto.QuestionDTO">
		update question
		   set
			     q_answer = #{q_answer},
			     q_answerDate = sysdate,
			     q_status = 'done'
		 where q_idx = #{q_idx}
	</update>

	<!-- 문의 수정 -->
	<update id="updateData" parameterType="com.spring.home.dto.QuestionDTO">
		update question
		   set
				q_title = #{q_title},
				q_content = #{q_content},
				q_secret = #{q_secret}
		 where q_idx = #{q_idx}
	</update>
	
	<!-- 문의 삭제 -->
	<delete id="deleteData">
		delete from question
		 where q_idx = #{q_idx}
	</delete>
	
	<!-- 업체가 봐야하는 문의 목록을 가져옴 -->
	<select id="getCompanyQuestions" resultType="com.spring.home.dto.QuestionDTO">
	    select
	        q.id,
	        q.f_code,
	        q.q_idx,
	        q.q_status,
	        q.q_title,
	        q.q_content,
	        q.q_answer,
	        q.q_answerDate,
	        q.q_secret,
	        q.q_createdDate,
	        f.c_id,
	        f.c_kind,
	        f.c_name,
	        f.f_name
	    from question q
	    join furniture f
	      on q.f_code = f.f_code
	   where f.c_id = #{c_id}
	   order by q.q_idx desc
</select>
	
        
</mapper>      
        
        
        
        
        
        