<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--  -->
<mapper namespace="com.spring.home.mapper.UserMapper">

<!-- 입력 -->
<insert id="insertData" parameterType="com.spring.home.dto.UserDTO">
	insert into users (id,pw,type,code,name,email,birth,tel,gender,addr) 
	values (#{id},#{pw},#{type},#{code},#{name},#{email},#{birth},#{tel},#{gender},#{addr})
</insert>

<!-- 수정 -->
<update id="updateData" parameterType="com.spring.home.dto.UserDTO">
	update users set pw=#{pw},email=#{email},tel=#{tel},addr=#{addr}
	where id=#{id}
</update>

<!-- 삭제 -->
<delete id="deleteData" parameterType="string">
	delete from users where id=#{id}
</delete>

<!-- 전체 select -->
<select id="getLists" parameterType="hashMap" resultType="com.spring.home.dto.UserDTO">
	select * from (
    select rownum rnum, data.* from (
    select id, pw, type, code, name, email, birth, tel, gender, addr
    from users
    where ${searchKey} like '%' || #{searchValue} || '%'
    order by id desc
    ) data)
    <![CDATA[
    where rnum >= #{start} and rnum <= #{end}
    ]]>
</select>

<!-- 1개 select -->
<select id="getReadData" parameterType="string" resultType="com.spring.home.dto.UserDTO">
	select id,pw,type,code,name,email,birth,tel,gender,addr
	from users where id=#{id}
</select>


<select id="findById" parameterType="string" resultType="com.spring.home.dto.UserDTO">
    SELECT *
    FROM users
    WHERE id = #{id}
</select>


<!--아이디 찾기  -->
<select id="findUserId" parameterType="com.spring.home.dto.UserDTO" resultType="string" >
select id from users where name =#{name} and email =#{email}
</select>

<!--비밀번호 찾기  -->
<select id="findUserPw" parameterType="com.spring.home.dto.UserDTO" resultType="com.spring.home.dto.UserDTO" >
select * 
from users 
where id =#{id} 
and email =#{email}
</select>

<!--비밀번호 변경  -->
<update id="updatePw" >
update users 
   set pw = #{pw} 
where id = #{id}
</update>

<update id="updateMyPageUser" parameterType="com.spring.home.dto.UserDTO">
    UPDATE users
    <set>
        email = #{email},
        tel = #{tel},
        addr = #{addr}
        <if test="pw != null and pw != ''">
            , pw = #{pw}
        </if>
    </set>
    WHERE id = #{id}
</update>

<update id="deleteUser" parameterType="com.spring.home.dto.UserDTO">
update users 
set joined = #{joined}
where id = #{id}
</update>

<!-- 최고 관리자 유저 조회 -->
<select id="getUserListDev"
    parameterType="com.spring.home.dto.UserDTO"
    resultType="com.spring.home.dto.UserDTO">

    SELECT

    u.id,
    u.type,
    u.code,
    u.name,
    u.email,
    u.birth,
    u.tel,
    u.gender,
    u.addr,
    u.joined,

    c.C_KIND AS c_kind,
    c.C_INFO AS c_info,
    c.C_BOSS AS c_boss,
    c.C_NAME AS c_name,
    c.C_ADDR AS c_addr

FROM USERS u

LEFT JOIN COMPANY c
    ON u.id = c.c_id

    <if test="type != 'all'">

        WHERE u.type = #{type}

    </if>

</select>

<!-- 최고 관리자 유저 탈퇴 변경 -->
<update id="deleteUserDev" parameterType="com.spring.home.dto.UserDTO">

update users
   set joined = 'N'
 where id = #{id}

</update>

<!-- 최고 관리자 유저 상태 복구 변경 -->

<update id="restoreUserDev" parameterType="com.spring.home.dto.UserDTO">

update users
   set joined = 'Y'
 where id = #{id}

</update>


<!-- 최고 관리자 일반 유저 데이터 변경 -->
<update id="updateUserDev" parameterType="com.spring.home.dto.UserDTO">
	UPDATE USERS
	<set>
	        <if test="tel != null and tel != ''">tel = #{tel},</if>
	        <if test="addr != null and addr != ''">addr = #{addr},</if>
	        <if test="name != null and name != ''">name = #{name},</if>
	        <if test="email != null and email != ''">email = #{email},</if>
	        <if test="gender != null and gender != ''">gender = #{gender},</if>
	        
	        
	</set>
	where id = #{id}
</update>

<!-- 카테고리별 구매한 물품 개수 및 금액 조회 -->
<select id="catagoryTotalCountPrice" parameterType="com.spring.home.dto.CartDTO"  resultType="com.spring.home.dto.CartDTO" >
	select 
		<if test="f_catagory1 != null and f_catagory1 != ''">
			f.f_catagory1,
		</if>
		<if test="f_catagory2 != null and f_catagory2 != ''">
			f.f_catagory2,
		</if>
		<if test="f_catagory3 != null and f_catagory3 != ''">
			f.f_catagory3,
		</if>
		<if test="f_catagory4 != null and f_catagory4 != ''">
			f.f_catagory4,
		</if>
		<if test="f_catagory5 != null and f_catagory5 != ''">
			f.f_catagory5,
		</if>
		<if test="gender != null and gender != ''">
			u.gender,
		</if>
		count(*)       as category_count,
	    sum(c.F_COUNT) as f_count,
	    sum(c.F_PRICE) as f_price
	FROM CART c
	JOIN FURNITURE f
    ON c.F_CODE = f.F_CODE 
    JOIN USERS u
    ON c.ID = u.ID 
	<where>
		<if test="f_status != 'all' or f_status == null">		
			AND c.f_status = 'Y' 
		</if>
		<if test='f_catagory1 != null and f_catagory1 != "null" and f_catagory1 != "" and f_catagory1 != "y"'>		
			AND f.f_catagory1 = #{f_catagory1}
		</if>
		<if test='f_catagory2 != null and f_catagory2 != "null" and f_catagory2 != "" and f_catagory2 != "y"'>		
			AND f.f_catagory2 = #{f_catagory2}
		</if>
		<if test='f_catagory3 != null and f_catagory3 != "null" and f_catagory3 != "" and f_catagory3 != "y"'>	
			AND f.f_catagory3 = #{f_catagory3}
		</if>
		<if test='f_catagory4 != null and f_catagory4 != "null" and f_catagory4 != "" and f_catagory4 != "y"'>			
			AND f.f_catagory4 = #{f_catagory4}
		</if>
		<if test='f_catagory5 != null and f_catagory5 != "null" and f_catagory5 != "" and f_catagory5 != "y"'>			
			AND f.f_catagory5 = #{f_catagory5}
		</if>
	
	</where>
    GROUP BY 
    <trim suffixOverrides=",">
    	<if test="gender !=null and gender !=''">
    		u.gender,
    	</if>
	    <if test="f_catagory1 != null and f_catagory1 != ''">
			f.f_catagory1,
		</if>
		<if test="f_catagory2 != null and f_catagory2 != ''">
			f.f_catagory2,
		</if>
		<if test="f_catagory3 != null and f_catagory3 != ''">
			f.f_catagory3,
		</if> 
		<if test="f_catagory4 != null and f_catagory4 != ''">
			f.f_catagory4,
		</if>
		<if test="f_catagory5 != null and f_catagory5 != ''">
			f.f_catagory5,
		</if>                          
    </trim>                   
</select>

<select id="getDevDashboardSummary"
        resultType="com.spring.home.dto.DevDashBoardSummaryDTO">

    SELECT

        <!-- 가입 일반회원 -->
        (SELECT COUNT(*)
           FROM USERS
          WHERE TYPE = 'user'
            AND JOINED = 'Y'
        ) AS userCount,

        <!-- 가입 기업회원 -->
        (SELECT COUNT(*)
           FROM USERS
          WHERE TYPE = 'company'
            AND JOINED = 'Y'
        ) AS companyCount,

        <!-- 탈퇴 일반회원 -->
        (SELECT COUNT(*)
           FROM USERS
          WHERE TYPE = 'user'
            AND JOINED = 'N'
        ) AS notJoinedUserCount,

        <!-- 탈퇴 기업회원 -->
        (SELECT COUNT(*)
           FROM USERS
          WHERE TYPE = 'company'
            AND JOINED = 'N'
        ) AS notJoinedCompanyCount,

        <!-- 쿠폰 개수 -->
        (SELECT COUNT(*)
           FROM COUPON
        ) AS couponCount,

        <!-- 전체 상담 -->
        (SELECT COUNT(*)
           FROM BOOKING
        ) AS bookingCount,

        <!-- 진행중 상담 -->
        (SELECT COUNT(*)
           FROM BOOKING
          WHERE B_STATUS IN (
              'pending',
              'quoting',
              'confirmed',
              'working'
          )
        ) AS progressCount,

        <!-- 완료 상담 -->
        (SELECT COUNT(*)
           FROM BOOKING
          WHERE B_STATUS = 'done'
        ) AS doneCount,

        <!-- 취소 상담 -->
        (SELECT COUNT(*)
           FROM BOOKING
          WHERE B_STATUS = 'cancel'
        ) AS cancelCount,
        
        <!-- 오늘 상담 신청 -->
        (SELECT COUNT(*)
        	FROM BOOKING
        	WHERE TRUNC(B_CREATEDDATE) = TRUNC(SYSDATE)
        	) AS todayBookingCount

    FROM DUAL

</select>



</mapper>